:root {
	--main-color: #ff0000;
	--theme-color: #ff0000;
}

.top {
	height: 55vh;
}

.body .area {
	background-color: #1c1c1c;
	width: 70%;
	padding: 6vh 5%;
	height: 45vh;
	margin: -40vh 10% 0vh 10%;
	text-align: left;
	border-radius: .5vh;
	display: flex;
	position: relative;
	overflow: auto;
	z-index: 2;
}

.body .area h1 {
	font-size: 3vh;
	color: #fff;
	padding: 0;
	margin: 0;
	padding-bottom: 1.5vh;
	border-bottom: .1vh solid #fff;
	margin-bottom: 3vh;
}

.body .area .emptyproducts {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	text-align: center;
}

.body .area .emptyproducts h3 {
	font-size: 3vh;
	color: #fff;
}

.body .area .emptyproducts p {
	font-size: 1.75vh;
	color: #fff;
}

.body .area .emptyproducts p a {
	color: var(--main-color);
}

.body .area .l {
	width: 65%;
	margin-right: 10%;
	overflow-y: auto;
}

.body .area .l .item {
	display: flex;
	width: 100%;
	margin-bottom: 4vh;
	align-items: center;
}

.body .area .l .item .background {
	width: 11vw;
	height: 5.54vw;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin-right: 5%;
}

.body .area .l .item .information {
	display: flex;
	flex-grow: 100;
}

.body .area .l .item .information .name {
	font-size: 2vh;
	color: #fff;
	margin: 0;
	font-weight: 600;
	margin-bottom: 1vh;
}

.body .area .l .item .information .price {
	font-size: 1.6vh;
	color: #fff;
	margin: 0;
}

.body .area .l .item .information .ri {
	flex-grow: 100;
	text-align: right;
}

.body .area .l .item .information input {
	font-size: 4vh;
	color: #fff;
	margin: 0;
	border: none;
	outline: none;
	background-color: transparent;
	cursor: pointer;
}

.body .area .r {
	width: 25%;
}

.body .area .r .subtotal {
	display: flex;
	font-size: 2vh;
	color: #fff;
	font-weight: 600;
	margin: 0;
	margin-bottom: 2vh;
}

.body .area .r i {
	display: flex;
	text-align: left;
	align-items: center;
	justify-content: flex-start;
}

.body .area .r .subleft, .body .area .r .subright {
	display: block;
	width: 50%;
}

.body .area .r .subright {
	text-align: right;
}

.body .area .r .itemized {
	display: flex;
	font-size: 1.75vh;
	font-weight: 400;
	width: 90%;
	margin: 0;
	margin-bottom: 1vh;
	margin-left: 10%;
	color: #fff;
}

.body .area .r .itemized .subleft {
	width: 75%;
}

.body .area .r .itemized .subright {
	width: 25%;
}

.body .area .r .itemized i {
	transform: rotate(90deg);
	margin-right: 6%;
}

.body .area .r .discountcodes {
	display: flex;
	width: 100%;
	margin-top: 5vh;
}

.body .area .r .discountcodes input[type=text] {
	background-color: #212121;
	font-size: 1.75vh;
	color: #fff;
	flex-grow: 100;
	border: none;
	outline: none;
	padding: .75vh 3%;
}

.body .area .r .discountcodes input[type=text]::placeholder {
	opacity: 1;
}

.body .area .r .discountcodes input[type=submit] {
	display: inline-block;
	cursor: pointer;
	margin: 0;
	padding: 0;
	width: auto !important;
	font-size: 1.75vh;
	background-color: var(--theme-color);
	color: #fff;
	padding: 0 5%;
	border-radius: none;
}

.body .area .r .termsofservice {
	text-align: center;
	margin-top: 2vh;
}

.body .area .r .termsofservice input {
	display: inline-block;
	cursor: pointer;
	margin: 0;
	padding: 0;
	font-size: 1.5vh;
	width: auto;
	margin-right: 2%;
}

.body .area .r .termsofservice label {
	display: inline-block;
	font-size: 1.5vh;
	color: #fff;
	cursor: pointer;
}

.body .area .r .termsofservice label a {
	color: var(--theme-color);
}

.body .area .r input[type=submit] {
	font-size: 2vh;
	color: #fff;
	background-color: var(--main-color);
	text-decoration: none;
	padding: 1vh 5%;
	border-radius: .5vh;
	outline: none;
	border: none;
	transition: border-radius .4s ease;
	transition: .5s ease;
	cursor: pointer;
	width: 100%;
	margin-top: 2vh;
}

.body .area .r input[type=submit]:hover {
	border-radius: .75vh;
}

.footer {
	margin-top: 6.7vh;
}

@media screen and (max-width: 600px), (orientation : portrait) { 
	.body {
		width: 100%;
		padding: 7.5vh 0%;
		color: #0a0a0a;
		margin: 0;
	}

	.body .area {
		display: block;
	}

	.body .area .l {
		width: 100%;
	}

	.body .area .r {
		width: 100%;
		margin-top: 7.5vh;
	}
}