.body {
	margin-top: 15vh;
}

.body .grid {
	grid-template-columns: repeat(4, 1fr);
	text-align: center;
}

.body .grid .item .top {
	display: inline-block;
	height: 20vh;
	width: 20vh;
	border-radius: 50%;
}

.body .grid .item .bottom h2 {
	font-size: 3vh;
}

.body .grid .item .bottom h3 {
	font-size: 1.75vh;
	margin-bottom: 2vh;
}

.body .grid .item .bottom .social {
	display: flex;
	justify-content: center;
}

.body .grid .item .bottom a {
	box-sizing: initial;
	-webkit-box-sizing: initial;
	padding: 0vh 0vh;
}

.body .grid .item .bottom .social a {
	display: flex;
	height: 4.5vh;
	width: 4.5vh;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	margin: 0 2%;
	font-size: 2.25vh;
}

@media screen and (max-width: 600px), (orientation : portrait) {
	.body .grid {
		grid-template-columns: repeat(1, 1fr);
	}

	.body .grid .item.empty {
		display: none;
	}
}